<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Analysis Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="#home" id="defaultOpen" onclick="openTab(event, 'home')">Home</a>
        <a href="#visualizations" onclick="openTab(event, 'visualizations')">Visualizations</a>
        <a href="#code" onclick="openTab(event, 'code')">Code</a>
    </div>

    <div id="home" class="tabContent">
        <div class="container">
            <h1>House Price Estimator</h1>
            <form action="{{ url_for('url_register.index') }}" method="post">
    
                <label for="area">Area:</label>
                <input type="number" id="area" name="area" placeholder="Area Sq. Foot" value="{{ form_data.get('area', '') }}" required>

                <label for="bedrooms">Bedrooms:</label>
                <input type="number" id="bedrooms" name="bedrooms" placeholder="Number of Bedrooms" value="{{ form_data.get('bedrooms', '') }}" required>
    
                <label for="bathrooms">Bathrooms:</label>
                <input type="number" id="bathrooms" name="bathrooms" placeholder="Number of Bathrooms" value="{{ form_data.get('bathrooms', '') }}" required>
    
                <label for="stories">Stories:</label>
                <input type="number" id="stories" name="stories" placeholder="Number of Stories" value="{{ form_data.get('stories', '') }}" required>
    
                <label for="mainroad">Location:</label>
                <select id="mainroad" name="mainroad">
                    <option value="yes" {% if form_data.mainroad == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.mainroad == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="mainroad" name="mainroad" placeholder="Is the house on the main road? (yes/no)" value="{{ form_data.get('mainroad', '') }}" required> -->
    
                <label for="guestroom">Guestroom:</label>
                <select name="guestroom">
                    <option value="yes" {% if form_data.guestroom == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.guestroom == 'no' %}selected{% endif %}>No</option>
                  </select>
                <!-- <input type="number" id="guestroom" name="guestroom" placeholder="Does the house have a guest room? (yes/no): " value="{{ form_data.get('guestroom', '') }}" required> -->
    
                <label for="basement">Basement:</label>
                <select id="basement" name="basement">
                    <option value="yes" {% if form_data.basement == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.basement == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="basement" name="basement" placeholder="Does the house have a basement? (yes/no)" value="{{ form_data.get('basement', '') }}" required> -->
    
                <label for="hotwaterheating">Water Heating:</label>
                <select id="hotwaterheating" name="hotwaterheating">
                    <option value="yes" {% if form_data.hotwaterheating == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.hotwaterheating == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="hotwaterheating" name="hotwaterheating" placeholder="Does the house have hot water heating? (yes/no)" value="{{ form_data.get('hotwaterheating', '') }}" required> -->
    
                <label for="airconditioning">Air Conditioning:</label>
                <select id="airconditioning" name="airconditioning">
                    <option value="yes" {% if form_data.airconditioning == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.airconditioning == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="airconditioning" name="airconditioning" placeholder="Does the house have air conditioning? (yes/no)" value="{{ form_data.get('airconditioning', '') }}" required> -->
    
                <label for="parking">Parking:</label>
                <input type="number" id="parking" name="parking" placeholder="Enter the number of parking spaces" value="{{ form_data.get('parking', '') }}" required>
                
                <label for="prefarea">Preferred Area:</label>
                <select id="prefarea" name="prefarea">
                    <option value="yes" {% if form_data.prefarea == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.prefarea == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="prefarea" name="prefarea" placeholder="Is the house in a preferred area? (yes/no)" value="{{ form_data.get('prefarea', '') }}" required> -->

                <label for="furnishingstatus">Furnishing:</label>
                <select id="furnishingstatus" name="furnishingstatus">
                    <option value="furnished" {% if form_data.furnishingstatus == 'furnished' %}selected{% endif %}>Furnished</option>
                    <option value="semi-furnished" {% if form_data.furnishingstatus == 'semi-furnished' %}selected{% endif %}>Semi-Furnished</option>
                    <option value="unfurnished" {% if form_data.furnishingstatus == 'unfurnished' %}selected{% endif %}>Unfurnished</option>
                </select>
                <!-- <input type="number" id="furnishingstatus" name="furnishingstatus" placeholder="Enter the furnishing status (furnished/semi-furnished/unfurnished)" value="{{ form_data.get('furnishingstatus', '') }}" required> -->
                
                <!-- Dropdown list -->
                <!-- <label for="dropdown_field9">Number of field9:</label>
                <select id="dropdown_field9" name="dropdown_field">
                    {% set selected_value = form_data.get('dropdown_field', '1') %}
                    <option value="1" {% if selected_value == '1' %}selected{% endif %}>1</option>
                    <option value="2" {% if selected_value == '2' %}selected{% endif %}>2</option>
                    <option value="3" {% if selected_value == '3' %}selected{% endif %}>3</option>
                    <option value="4" {% if selected_value == '4' %}selected{% endif %}>4</option>
                    <option value="5" {% if selected_value == '5' %}selected{% endif %}>5</option>
                </select> -->

                
                
            
                <button id='estimate_button' type="submit">Estimate Price</button>
            </form>
    
    
            <div id="estimated_price">
                {% if estimated_price %}
                    <p>Estimated Price: {{ estimated_price }}</p>
                {% endif %}
            </div>
    </div>

    <div id="visualizations" class="tabContent">
        <!-- <iframe src="https://jupyter.org/try-jupyter/lab/?path=notebooks%2FGroup_D_Project.ipynb" width="100%" ></iframe> -->
        <h2>Distribution of Price</h2>
        <img src="visualizations/output1.jpg" alt="Distribution of Price">
    
        <h2>Area vs. Price</h2>
        <img src="visualizations/output2.jpg" alt="Area vs. Price">
    
        <h2>Bedrooms vs. Price</h2>
        <img src="visualizations/output3.jpg" alt="Bedrooms vs. Price">
    
        <h2>Distribution of Furnishing Status</h2>
        <img src="visualizations/output4.jpg" alt="Distribution of Furnishing Status">
    
        <h2>Correlation Heatmap</h2>
        <img src="visualizations/output5.jpg" alt="Correlation Heatmap">
    
        <h2>Average Price by Bedrooms and Furnishing Status</h2>
        <img src="visualizations/output6.jpg" alt="Average Price by Bedrooms and Furnishing Status">
    
        <h2>Bedrooms vs. Price</h2>
        <img src="visualizations/output7.jpg" alt="Bedrooms vs. Price">
    
        <h2>Area vs. Price by Stories</h2>
        <img src="visualizations/output8.jpg" alt="Area vs. Price by Stories">
    
        <h2>Model Accuracies</h2>
        <img src="visualizations/output9.jpg" alt="Model Accuracies">

        <h2>Model Accuracies</h2>
        <img src="visualizations/output10.jpg" alt="Comparison of Model Errors">
    </div>

    <div id="code" class="tabContent">
       <!-- Code to attach the Group_D-Project.html here -->
    </div>

    <script>
        // JavaScript for handling tab switching
        function openTab(evt, tabName) {
            // Declare all variables
            var i, tabContent, tabLinks;

            // Get all elements with class="tabContent" and hide them
            tabContent = document.getElementsByClassName("tabContent");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }

            // Get all elements with class="navbar a" and remove the class "active"
            tabLinks = document.getElementsByClassName("navbar a");
            for (i = 0; i < tabLinks.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it to open the default tab
        document.getElementById("defaultOpen").click();

        document.getElementById('estimate_button').addEventListener('click', function() {
            // Add happiness effect - change color to a brighter one
            this.style.backgroundColor = '#00ff00'; // Bright green for happiness
            setTimeout(() => {
                this.style.backgroundColor = '#ffa500'; // Change it back to orange
            }, 500);

            let price = document.getElementById('estimated_price').textContent;
            document.getElementById('estimated_price').textContent = price;
        });

    </script>
</body>
</html>
