<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Analysis Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='logo_32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='logo_16.png') }}">
</head>
<body>
    <div id="navbarcustom" class="navbar">
        <a href="#home" id="defaultOpen" onclick="openTab(event, 'home')">Home</a>
        <a href="#visualizations" onclick="openTab(event, 'visualizations')">Visualizations</a>
        <a href="#code" onclick="openTab(event, 'code')">Code</a>
        <a href="#about" onclick="openTab(event, 'about')">About</a>
    </div>

    <div id="home" class="tabContent">
        <div class="container">
            <div id="first_heading"><h1 >House Price Estimator</h1></div>
            <form action="{{ url_for('url_register.index') }}" method="post">
    
                <label for="area">Area:</label>
                <input type="number" id="area" name="area" placeholder="Area Sq. Foot" value="{{ form_data.get('area', '') }}" required>

                <label for="bedrooms">Bedrooms:</label>
                <input type="number" id="bedrooms" name="bedrooms" placeholder="Number of Bedrooms" value="{{ form_data.get('bedrooms', '') }}" required>
    
                <label for="bathrooms">Bathrooms:</label>
                <input type="number" id="bathrooms" name="bathrooms" placeholder="Number of Bathrooms" value="{{ form_data.get('bathrooms', '') }}" required>
    
                <label for="stories">Stories:</label>
                <input type="number" id="stories" name="stories" placeholder="Number of Stories" value="{{ form_data.get('stories', '') }}" required>
    
                <label for="mainroad">Near Main Road?:</label>
                <select id="mainroad" name="mainroad">
                    <option value="yes" {% if form_data.mainroad == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.mainroad == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="mainroad" name="mainroad" placeholder="Is the house on the main road? (yes/no)" value="{{ form_data.get('mainroad', '') }}" required> -->
    
                <label for="guestroom">Guestroom:</label>
                <select name="guestroom">
                    <option value="yes" {% if form_data.guestroom == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.guestroom == 'no' %}selected{% endif %}>No</option>
                  </select>
                <!-- <input type="number" id="guestroom" name="guestroom" placeholder="Does the house have a guest room? (yes/no): " value="{{ form_data.get('guestroom', '') }}" required> -->
    
                <label for="basement">Basement:</label>
                <select id="basement" name="basement">
                    <option value="yes" {% if form_data.basement == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.basement == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="basement" name="basement" placeholder="Does the house have a basement? (yes/no)" value="{{ form_data.get('basement', '') }}" required> -->
    
                <label for="hotwaterheating">Water Heating:</label>
                <select id="hotwaterheating" name="hotwaterheating">
                    <option value="yes" {% if form_data.hotwaterheating == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.hotwaterheating == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="hotwaterheating" name="hotwaterheating" placeholder="Does the house have hot water heating? (yes/no)" value="{{ form_data.get('hotwaterheating', '') }}" required> -->
    
                <label for="airconditioning">Air Conditioning:</label>
                <select id="airconditioning" name="airconditioning">
                    <option value="yes" {% if form_data.airconditioning == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.airconditioning == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="airconditioning" name="airconditioning" placeholder="Does the house have air conditioning? (yes/no)" value="{{ form_data.get('airconditioning', '') }}" required> -->
    
                <label for="parking">Parking:</label>
                <input type="number" id="parking" name="parking" placeholder="Enter the number of parking spaces" value="{{ form_data.get('parking', '') }}" required>
                
                <label for="prefarea">In a Preferred Area?:</label>
                <select id="prefarea" name="prefarea">
                    <option value="yes" {% if form_data.prefarea == 'yes' %}selected{% endif %}>Yes</option>
                    <option value="no" {% if form_data.prefarea == 'no' %}selected{% endif %}>No</option>
                </select>
                <!-- <input type="number" id="prefarea" name="prefarea" placeholder="Is the house in a preferred area? (yes/no)" value="{{ form_data.get('prefarea', '') }}" required> -->

                <label for="furnishingstatus">Furnishing:</label>
                <select id="furnishingstatus" name="furnishingstatus">
                    <option value="furnished" {% if form_data.furnishingstatus == 'furnished' %}selected{% endif %}>Furnished</option>
                    <option value="semi-furnished" {% if form_data.furnishingstatus == 'semi-furnished' %}selected{% endif %}>Semi-Furnished</option>
                    <option value="unfurnished" {% if form_data.furnishingstatus == 'unfurnished' %}selected{% endif %}>Unfurnished</option>
                </select>
                            
                <button id='estimate_button' type="submit">Estimate Price</button>
            </form>
        
    
    
            <div id="estimated_price">
                {% if estimated_price %}
                    <h1>Estimated Price: {{ estimated_price }}</h1>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="visualizations" class="tabContent">
        <div class='container'>
            <h2>Price Range Distribution in the Housing Market</h2>
            <img src="{{ url_for('static', filename='visualizations/output1.jpg') }}" alt="Distribution of Price">
            <p><h3>The 'Distribution of Price' histogram provides a snapshot of housing prices across the market. Overlaying a probability density function, we see a right-skewed distribution, indicating a concentration of properties in the lower price range with a tail of high-value properties.</h3></p>
        
            <h2>Property Size Versus Price Analysis</h2>
            <img src="{{ url_for('static', filename='visualizations/output2.jpg') }}" alt="Area vs. Price">
            <p><h3>A scatter plot of 'Area vs. Price' suggests a correlation between a property’s size and its price. Larger properties tend to command higher prices, illustrating the premium placed on space.</h3></p>
        
            <h2>Bedrooms vs. Price</h2>
            <p>The 'Bedrooms vs. Price' scatter plot reveals a positive correlation between the number of bedrooms and the price of a property. This is intuitive as larger properties tend to have more bedrooms, and thus, command higher prices.</p>
            <img src="{{ url_for('static', filename='visualizations/output3.jpg') }}" alt="Bedrooms vs. Price">
        
            <h2>Distribution of Furnishing Status</h2>
            <p>With the 'Distribution of Furnishing Status' pie chart, we see the proportion of furnished, semi-furnished, and unfurnished properties, providing insights into market preferences and potential value additions.</p>
            <img src="{{ url_for('static', filename='visualizations/output4.jpg') }}" alt="Distribution of Furnishing Status">
        
            <h2>Correlation Heatmap</h2>
            <p>The 'Correlation Heatmap' provides a visual representation of the correlation between the various features of the dataset. The darker the shade of red, the stronger the positive correlation between the two features. The darker the shade of blue, the stronger the negative correlation between the two features. The lighter the shade of red or blue, the weaker the correlation between the two features.</p>
            <img src="{{ url_for('static', filename='visualizations/output5.jpg') }}" alt="Correlation Heatmap">
        
            <h2>Average Price by Bedrooms and Furnishing Status</h2>
            <p>The 'Average Price by Bedrooms and Furnishing Status' bar chart provides insights into the average price of properties based on the number of bedrooms and their furnishing status. The chart reveals that furnished properties command a premium over semi-furnished and unfurnished properties. Furthermore, the average price of properties increases with the number of bedrooms.</p>
            <img src="{{ url_for('static', filename='visualizations/output6.jpg') }}" alt="Average Price by Bedrooms and Furnishing Status">
        
            <h2>Area vs. Price by Stories</h2>
            <p>The 'Area vs. Price by Stories' scatter plot provides insights into the relationship between the size of a property and its price, based on the number of stories. The plot reveals that the price of properties increases with the number of stories, indicating a premium placed on vertical space.</p>
            <img src="{{ url_for('static', filename='visualizations/output8.jpg') }}" alt="Area vs. Price by Stories">
        
            <h2>Model Accuracies</h2>
            <p>The 'Model Accuracies' bar chart provides a comparison of the accuracies of the various models employed in the project. Notably, Ridge Regression outperforms both Linear and Lasso Regression. This superiority is attributed to Ridge's regularization approach that manages multicollinearity within predictors, a common characteristic in real estate data. Unlike Lasso, which eliminates some variables altogether, Ridge moderates the influence of all features, retaining their presence in the model. This characteristic is particularly beneficial for datasets where every variable adds some value to the prediction. Ridge Regression's leading accuracy score is indicative of its balanced approach, effectively addressing the bias-variance trade-off, thus ensuring reliable and generalizable predictions. This makes it the model of choice for our housing price prediction, as it delivers a nuanced understanding of the impact of various factors on property values.</p>
            <img src="{{ url_for('static', filename='visualizations/output9.jpg') }}" alt="Model Accuracies">

            <h2>Comparison of Model Errors</h2>
            <p>The graph presented here displays a comparison of mean absolute errors across a spectrum of regression models. The metric showcased, mean absolute error (MAE), serves as a gauge of prediction accuracy, with lower values indicating more precise predictions.
                Our analysis reveals Ridge Regression as the model with the lowest error, underscoring its efficiency in predicting housing prices with minimal deviation from actual values. Contrasting with alternatives like Linear and Lasso Regression, Ridge demonstrates a superior ability to deliver predictions that closely align with the observed data. This precision is crucial in the real estate domain, where accurate price forecasts are indispensable for both buyers and sellers.
                The graph succinctly captures the essence of predictive accuracy in the context of real estate pricing, guiding our choice of Ridge Regression as the optimal tool for our analytic arsenal.</p>
            <img src="{{ url_for('static', filename='visualizations/output10.jpg') }}" alt="Comparison of Model Errors">
    
        </div>
    </div>

    <div id="code" class="tabContent">
        <div class="container">
        <iframe src="{{ url_for('static', filename='final_code.html') }}" width="100%" height="22000 px"></iframe>
        </div>
    </div>

    <div id="about" class="tabContent">
        <div class="container">
                
                
                

               
                
            <div id="about_section">
                <h1>Contributors</h1>
                <h2> Group D MGTA 452 Fall 2023</h2>
                <ol>
                    <li>Mridul Arora</li>
                    <li>Kaushik Madhavan</li>
                    <li>Saanya Jain</li>
                    <li>Alvin She</li>
                </ol>

                
                    <h1 class="title">About This Website</h1>
                    <hr>


                <p><img src="{{ url_for('static', filename='about_1.jpeg') }}" align="right" height="200" width="200" hspace="20"> This website has been meticulously crafted as an integral part of our final project for the course MGTA 452, titled "Collecting and Analyzing Large Data." The primary focus of our project lies in the realm of real estate, particularly in the prediction of house prices. We undertake this through a comprehensive analysis of historical data, employing a variety of predictive models. The goal is to assess the effectiveness of these models meticulously and select the one that demonstrates the highest accuracy in predicting house prices.</p>
                <p>The site is thoughtfully divided into four well-defined sections, each serving a unique purpose. In the first section, users are greeted with an innovative estimator tool. This tool leverages a sophisticated model that we have carefully developed and refined. It enables users to input specific characteristics of a house and receive an estimated market price, reflecting the practical application of our project's findings. The second section delves deeper into the methodologies behind our project. Here, we discuss the analytical procedures and strategies employed in the quest to develop and select the most efficient predictive model for house price estimation.</p>
                <p>Moving to the third section, it offers a detailed exposition of the Python programming language code that has been instrumental in both the analysis and the construction of the predictive model. This section aims to provide transparency and understanding of the technical underpinnings of our project. Lastly, the section you are currently navigating is dedicated to the frontend aspect of this website. It offers insights into the design and development process of the website itself, showcasing the interface through which users interact with our project's findings and tools. This holistic structure of the website not only presents our project in a comprehensive manner but also enhances user engagement by providing a seamless and informative experience.</p>

                
                <h2>How does this website work?</h2>
                <p>To understand this, we will have to get familiar with the following critical components:</p>

                <h3>1.  Predictive Model</h3>   
                <p>The task at hand involves the development of a predictive model, which is then required to be serialized and stored in the form of a pickle file. For a comprehensive understanding of the model's construction process, one can refer to the code tab available on this website. The specific model employed for this purpose is the Ridge Regression model, which is a part of the sklearn package, a widely used library in the field of machine learning.</p>
                <p>Ridge Regression, in essence, is an evolved version of the Ordinary Least Squares (OLS) regression. The primary distinction lies in the application of L2 regularization to the model's coefficients. This regularization technique involves adding a penalty equivalent to the square of the magnitude of the coefficients. The primary advantage of this approach is its effectiveness in mitigating the problem of overfitting. Overfitting occurs when a model learns the detail and noise in the training data to the extent that it negatively impacts the performance of the model on new data. By applying L2 regularization, Ridge Regression ensures that the model does not become overly complex or sensitive to the specific nuances of the training data.</p>
                <p>Furthermore, this regularization technique contributes to enhancing the model's simplicity and accuracy, particularly when it comes to making predictions on data that the model has not previously encountered, also known as 'held out' data. Simplicity in a model is desirable as it typically leads to better generalization, meaning the model will perform better on new, unseen data. The balance between fitting the training data well, while also maintaining simplicity to perform effectively on new data, is a key aspect of building a robust predictive model.</p>

                <h3>2. Flask</h3>
                <p>Flask is a Python-based web framework that allows for the development of web applications. It is a lightweight framework that is easy to learn and implement. Flask is used to create a web application that can be accessed by users. The web application is hosted on a server, which is a computer that is connected to the internet and is always on. The server is responsible for running the web application and responding to requests from users. The server is also responsible for storing the predictive model and making predictions based on the model.</p>


                <h3>3. HTML</h3>
                <p>HTML is a markup language that is used to create web pages. HTML is used to create the structure of the web page. It is used to define the content of the web page, such as text, images, and links. HTML is also used to define the layout of the web page, such as the position of the content on the page. HTML is used to create the web page that is displayed to the user.</p>

                <h3>4. CSS</h3>
                <p>CSS is a style sheet language that is used to define the style of the web page. CSS is used to define the appearance of the web page, such as the color, font, and size of the text. CSS is also used to define the layout of the web page, such as the position of the content on the page. CSS is used to style the web page that is displayed to the user.</p>

                <h3>5. JavaScript</h3>
                <p>JavaScript is a programming language that is used to create interactive web pages. JavaScript is used to add interactivity to the web page, such as responding to user input. JavaScript is also used to add functionality to the web page, such as making requests to the server. JavaScript is used to add interactivity and functionality to the web page that is displayed to the user.</p>

                <h3>6. Host</h3>
                <p>The web application is hosted on a server, which is a computer that is connected to the internet and is always on. The server is responsible for running the web application and responding to requests from users. The server is also responsible for storing the predictive model and making predictions based on the model.</p>

                <h2>Where is the code located?</h2>

                <p>The whole code for this website has been stored in a github repository from which the histing website takes a pull for the latest commit and deploys the web application. The repository has been made public and can be accessed here: <a href="https://github.com/rsm-mrarora/largeDataFinalProject" target="_blank">GitHub</a></p>


                </div>
                

        

                
                
        </div>
    </div>

    <script>
        // JavaScript for handling tab switching
        function openTab(evt, tabName) {
            var i, tabContent, tabLinks;

            // Hide all tab content
            tabContent = document.getElementsByClassName("tabContent");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }

            // Remove "active" class from all tab links
            tabLinks = document.querySelectorAll(".navbar a");
            for (i = 0; i < tabLinks.length; i++) {
                tabLinks[i].classList.remove("active");
            }

            // Show the current tab and add "active" class to the clicked tab link
            document.getElementById(tabName).style.display = "block";
            if (evt) {
                evt.currentTarget.classList.add("active");
                }
            }

        // Get the element with id="defaultOpen" and click on it to open the default tab
        document.getElementById("defaultOpen").click();


        // When the user scrolls the page, execute myFunction
        window.onscroll = function() {stickyScroll()};

        // Get the navbar
        var navbar = document.getElementById("navbarcustom");

        // Get the offset position of the navbar
        var sticky = navbar.offsetTop;

        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function stickyScroll() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
        }
    </script>

<footer>
    <div class="footer-content">
        <a href="https://github.com/rsm-mrarora/largeDataFinalProject" target="_blank">
            <img src="{{ url_for('static', filename='github_logo.png') }}" alt="GitHub" />
            GitHub
        </a>
        <a href="mailto:mrarora@ucsd.edu">
            <img src="{{ url_for('static', filename='gmail_logo.png') }}" alt="GitHub" />
            Email
        </a>
        <p>&copy; 2023 Mridul Arora, Kaushik Madhavan, Saanya Jain, Alvin She</p>
    </div>
</footer>
</body>
</html>
